<h1>Your Carriers</h1>

<%= link_to 'New Carrier', new_carrier_path, class: "btn btn-default" %>

<% @carriers.each do |carrier| %>
  <div class="carrier">
    <strong><%= link_to carrier.name, carrier %></strong>
    <p><%= carrier.phone_number %></p>
  </div>
  <div class="meta">
    <%= link_to time_ago_in_words(carrier.created_at) + "ago", carrier %>
    <span class="admin">
      | <%= link_to 'Edit', edit_carrier_path(carrier) %>| 
     <%= link_to 'Delete', carrier, method: :delete, data: {confirm: "Are you sure you want to delete this carrier?"} %>
    </span>
  </div>
<% end %>



