<h1 id="navbar" class="page-header">Loads</h1>

<% @loads.each do |load| %>
  <div class="load">
    <strong><%= load.origin %></strong>
    <p><%= load.destination %></p>
  </div>
  <div class="meta">
    <%= link_to time_ago_in_words(load.created_at), load %>
    <span class="admin">
      | <%= link_to 'Edit', edit_load_path(load) %>| 
     <%= link_to 'Delete', load, method: :delete, data: {confirm: "Are you sure you want to delete this load?"} %>
    </span>
  </div>
<% end %>
<%= link_to 'New Load', new_load_path %>
